/* .cse {
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }
  
  .game {
    margin: 2rem auto;
    max-width: 700px;
  }
  
  .ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  
  .ball {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .ball:hover {
    background-color: #333;
    color: #fff;
  }
  
  .light {
    border-color: #a6d8ff;
  }
  
  .light:hover {
    background-color: #a6d8ff;
    color: #333;
  }
  
  .heavy {
    border-color: #ffce8a;
  }
  
  .heavy:hover {
    background-color: #ffce8a;
    color: #333;
  }
  
  .message {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #333;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #333;
    color: #fff;
  }
   */